lib/assembly/_build/
lib/assembly/assembly
lib/assembly/assembly.exe
descriptif.log
descriptif.aux
beamer/beamer.aux
beamer/beamer.log
beamer/beamer.nav
beamer/beamer.out
beamer/beamer.snm
beamer/beamer.toc
beamer/beamer.pdf
lib/assembly/code_cpu.txt
lib/tp1/netlist_simulator.byte
lib/tp1/_build
lib/_build
